/*Body Start */

.Bodycolor{
    background-color: black ;
}

/*Body End */





/*Navigation Bar Section Header*/

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

html{
	font-size:11px;
	
	font-family: 'Special Elite', cursive;
	
}

.headingfont{
	font-family: 'Cormorant Garamond', serif;
}
body{
	overflow-x:hidden;
}


a{
	text-decoration:none;
	color:#eee;
}

header{
	width:100%;
	height:100vh;
	background:linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5)), url("slide1.jpg") center no-repeat;
	background-size:cover;

}

.container{
	max-width:120rem;
	width:90%;
	margin:0 auto;
}

nav{
	padding-top:5rem;
	display:flex;
	Justify-content:space-between;
	align-items:center;
	text-transform:uppercase;
	font-size:1.6rem;
	
	
}

.brand{
	font-size:3.3rem;
	font-weight:100;
	
	font-family:'Lobster', cursive;
	transform:translateX(-100rem);
    animation:slideIn .3s forwards;
}

.brand span{
	color:orange;
	
	font-family:'Lobster', cursive;
	
}

nav ul{
	display:flex;
}
nav ul li{
	list-style:none;
	transform:translateX(100rem);
  animation:slideIn .3s forwards;
  
}

nav ul li a{
	padding:10rem;
	margin:0 3rem;
	position:relative;
	letter-spacing:3px;
}


nav ul li a::before,
nav ul li a::after{
	content:'';
	position:absolute;
	width:100%;
	height:2px;
	background-color:none;
	left:0;
	transform:scaleX(0);
	transition:all .3s;
}

nav ul li a::before{
	top:0;
	transform-origin:left;
}

nav ul li a::after{
	bottom:0;
	transform-origin:right;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
	transform:scaleX(1);
}

@keyframes slideIn{
	from{
		
	}
	to{
		transform:translateX(0);
	}
}
/*Navigation Bar Section End */










/*container Image css start */
body, html {
  height: %;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* Full height */
  height: 00%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Images used 
.img6 { background-image: url("slide1.jpg"); } */


/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.3); /* Black w/opacity/see-through */
  color:orange ;
  font-weight: bold;
  font-size: 90px;
  border: 5px #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 1000px;
  padding: 10px;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
}
/*Container  Image Css End */

/*Latest Update Start */
.latest{
	color:rgba(255, 166, 0, 0.876);
	font-family: 'Cinzel Decorative', cursive;
	letter-spacing: 10px;
}
/*Latest Update End */



/*About Image Start */
* {
    box-sizing: border-box;
  }
  
  body {
	font-family: Arial;
	
    font-size: 17px;
  }

  .headingfont{
	font-family: 'Cormorant Garamond', serif;
	color: burlywood;
  }
  
  .container {
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
  }
  
  .container img {vertical-align: middle;}
  
  .container .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 150px;
  }

/*About Image End */

/*footer Start */
.hrline{
	width:100%;
	height: 1px;
}

.footerheadline{
	font-size: 30px;
	font-family: 'Cormorant Garamond', serif;
	color:rgba(255, 255, 255, 0.897);
}

.homesize{
	font-size: 25px;
}

.paragraph{
	font-family: 'Josefin Sans', sans-serif;
}

/*footer End */











  




  